*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.formBox{
    width: 100%;
    height: 102vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input{
    padding: 15px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 16px;
    width: 300px; 
}

#input-field{
    padding-bottom: 20px;
}
.registerUserButton{
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}